<%= form_with(model: s_transaction) do |form| %>
  <% if s_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(s_transaction.errors.count, "error") %> prohibited this s_transaction from being saved:</h2>

      <ul>
        <% s_transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_field :details %>
  </div>
  <br>

<%if (@s_transaction.credit==0 || @s_transaction.debit==nil)%>
  <div class="field">
    <%= form.label :PURCHASE%>
    <%= form.number_field :credit %>

    
  </div>
  <br>
<%end %>


<%if (@s_transaction.debit==0 || @s_transaction.credit==nil) %>

  <div class="field">
    <%=  form.label :PAYMENT %>
    <%= form.number_field :debit %>
  </div>
  <br>

  <%end %>

  <div class="field">
    <%=  form.label :Date %>
    <%= form.datetime_field :created_at %>
  </div>
  <br>

  <div  >
    <%= form.submit "Submit", class: "btn btn-primary"%>
  </div>
<% end %>