
<table class="table table-striped table-bordered table-hover">
<thead>
    <tr>
      <th>Title</th>
      <th>Details</th>
      <th>Date</th>
      <th>PURCHASE</th>
      <th>PAYMENT</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
   <% prvious_balance = 0 %>
    <% @s_transactions.each do |s_transaction| %>
      <tr>
      <%if($supplier.id==s_transaction.supplier_id)%>

      <%  s_transaction.balance=prvious_balance %>
      <%if s_transaction.debit != nil%>
        <%  s_transaction.balance = s_transaction.balance - s_transaction.debit %>
      <%end %>
      <%if s_transaction.credit != nil%>
        <% s_transaction.balance = s_transaction.balance + s_transaction.credit %>
      <%end %>


        <td><%= link_to s_transaction.title , s_transaction %></td>
        <td><%= s_transaction.details %></td>
        <td><%= s_transaction.created_at.strftime('%B %d %Y, %l:%M%P') %></td>
        <td><%= s_transaction.credit %></td>
        <td><%= s_transaction.debit %></td>
        <td><%= s_transaction.balance %></td>

     
        <% prvious_balance = s_transaction.balance %>
        <%end%>

        </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if prvious_balance>=0%>
<h5><%= " You give \"#{@supplier.name}\" is  = \"#{prvious_balance}\"" %></h5>
<%else%>
<h5><%= " Advance Payment to \"#{@supplier.name}\" is  = \"#{prvious_balance.abs}\"" %></h5>

<%end%>
<br>

<%= link_to 'PURCHASE', new_s_transaction_path(:credit => '0' ),class:"btn btn-primary"%>

<%= link_to 'PAYMENT', new_s_transaction_path(:debit => '0' ),class:"btn btn-primary"%>

