
<div class="jumbotron">
  <h1 class="display-4">
  <%= @s_transaction.title %>
  <%=  %>
  
  
  </h1>
  <br/>
  <p class="lead">   Details :   <%= @s_transaction.details %> </p>
  <%if @s_transaction.credit != nil%>
    <p class="lead"> Amount :    <%=  @s_transaction.credit %></p>
    <%elsif @s_transaction.debit != nil%>
    <p class="lead">   Amount :   <%= @s_transaction.debit %> </p>
    <%end%>
    <p class="lead"> Transaction By User :    <%=  @s_transaction.user.name %></p>
    <br>
    
    <td>
    <%= link_to 'Edit', edit_s_transaction_path(@s_transaction),class:"btn btn-primary"%> | 

    <%= link_to 'Destroy', @s_transaction,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>

</div>