

<p>
  <strong>Title:</strong>
  <%= @c_transaction.title %>
</p>

<p>
  <strong>Details:</strong>
  <%= @c_transaction.details %>
</p>
<%if @c_transaction.credit != nil%>
<p>
  <strong>Credit:</strong>
  <%= @c_transaction.credit %>
</p>
<%end%>
<%if @c_transaction.debit != nil%>
<p>
  <strong>Debit:</strong>
  <%= @c_transaction.debit %>
</p>
<%end%>

<p>
  <strong>Transaction By User:</strong>
  <%= @c_transaction.user.name %>
</p>
