
<div class="jumbotron">
  <h1 class="display-4">
  <%= @c_transaction.title %>
  
  </h1>
  <br/>
  <p class="lead">   Details :   <%= @c_transaction.details %> </p>
  <%if @c_transaction.credit != nil%>
  <p class="lead"> Amount :    <%=  @c_transaction.credit %></p>
  <%elsif @c_transaction.debit != nil%>
  <p class="lead">   Amount :   <%= @c_transaction.debit %> </p>
    <%end%>
    <p class="lead"> Transaction By User :    <%=  @c_transaction.user.name %></p>
    <br>
    <%= link_to 'Edit', edit_c_transaction_path(@c_transaction),class:"btn btn-primary"%> | 

    <td><%= link_to 'Destroy', @c_transaction,class:"btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    | <%= link_to 'Back', customer_path(:id => @c_transaction.customer),class:"btn btn-primary"%> 
</div>
