

<h1>Suppliers</h1>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= link_to supplier.name ,supplier %></td>
        <td><%= supplier.phone %></td>
        <td><%= supplier.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%credit_sum=0%>
<%debit_sum=0%>

<% @s_transactions.each do |s_transaction| %>

      <%if s_transaction.credit != nil%>

        <% credit_sum=credit_sum + s_transaction.credit %>
      <%end%>

      <%if s_transaction.debit != nil%>
        <% debit_sum = debit_sum + s_transaction.debit %>

      <%end%>
      
<% end %>
</br>

 <p><%= "Total credit Amount of All Customers =  #{credit_sum}"%></p>

 <p><%="Total Debit Amount of All Customers =  #{debit_sum}"%></p>

 <p><%="Total Balance of All Customers =  #{credit_sum-debit_sum}"%></p>

