
<div class="jumbotron">
<h1 class="display-4">
<%= @supplier.name %>
<%=  %>


</h1>
<br/>
<p> <%= @supplier.email %> | <%= @supplier.phone %></p>
<%= link_to 'Edit', edit_supplier_path(@supplier),class:"btn btn-primary"%> | 
<td><%= link_to 'Destroy', @supplier,class:"btn btn-danger",method: :delete, data: { confirm: 'Are you sure?' } %></td>

</div>

</br>
<h1><%="All Transactions \"#{@supplier.name} \""%></h1>
</br>

      <%= render 's_transactions/index' %>

      </br>
      </br>